{% extends 'base.html.twig' %}

{% block title %}Hello FactsController!{% endblock %}

{% block body %}
<h1>Fakten & Zahlen</h1>
    <div class="container-fluid">


        1 Anlage (Karte) mit 164 Gärten, 57.018 m² Gesamtfläche
        Vereinsdaten:                KGV Oedenberger Straße e.V.
        Oedenberger Str. 114, 90491 Nürnberg
    </div>
{% endblock %}
