{% extends 'base.html.twig' %}

{% block title %}Hello FactsController!{% endblock %}

{% block body %}


    {% include 'layout/partials/kgv-intro.twig' %}
    <div class="kgv-garden-area-facts">
        {% for fact in facts %}
            <div class="kgv-garden-area-facts__container">
                <div class="kgv-garden-area-facts__fact">{{ fact.fact }}</div>
                <div class="kgv-garden-area-facts__additional">{{ fact.text|raw }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
