{% extends 'base.twig' %}
{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}

    <div class="kgv-content-block">
        <h2>Gartenaufteilung</h2>
        <p>In unserer Gartenordnung haben wir festgelegt, dass jeder Garten in unserer Kleingartenanlage eine gewisse Aufteilung in die folgenden Bereiche haben soll:</p>
        <dl class="row">
            <dt class="col-12 col-sm-4">1/3 Vegetationsfläche</dt>
            <dd class="col-12 col-sm-8">Hier ist Platz für Blumen, Sträucher und Pflanzen die nicht in die Kategorien Gemüse oder Obst fallen</dd>
            <dt class="col-12 col-sm-4">1/3 Nutzgarten</dt>
            <dd class="col-12 col-sm-8">Diese Fläche ist zum Anbau von Obst, Gemüse und anderen Früchten zu nutzen</dd>
        </dl>
        <div class="alert alert-primary" role="alert"><i class="fas fa-info-circle"></i> Die Bewirtschaftung soll hinsichtlich der heimischen Artenvielfalt im Sinne der
            BIO-Diversität sowie unter Einhaltung der bundes- und landesrechtlichen Umweltgesetze erfolgen.
        </div>
    </div>
    <div class="kgv-content-block">
        <h2>Ideen</h2>
        Es gibt vielerlei Möglichkeiten einen Kleingarten zu gestalten, das hängt natürlich auch von Ihren Wünschen und Bedürfnissen ab. Wir möchten an dieser Stelle ein paar
        Anregungen geben, nach welchen Aspekten ein Garten gestaltet werden kann.
    </div>
    <div class="kgv-content-block">
        <h3>Tierfreundlich</h3>
        <p>Natürlich sind nur die wenigsten erfreut, wenn die Nacktschnecken in der Nacht den frisch sprießenden Salat abgefrasst haben, aber um die soll es hier nicht gehen :)
            Die Natur ist vielfältig in Flora und Fauna, insbesondere letztere, also die Tierwelt hat es in der Stadt nicht immer einfach einen ihr wohlgesonnen Lebensraum zu
            finden.</p>
        <p>Um den Garten tierfreundlicher zu gestalten, langt es oftmals schon auf einfache Dinge zu achten</p>
        <ul class="kgv-list-styled">
            <li>Pflanzen Sie Bienen- und Schmetterlingsfreundliche Pflanzen</li>
            <li>Stellen Sie ein oder zwei Vogelhäusschen auf, z.B für Meissen, Spatzen oder Rotkehlchen</li>
            <li>Ein Insektenhotel (von klein bis groß erhältlich) hilft z.B. Wildbienen und Hummeln</li>
            <li>Auch ein Igelhotel ist eine tolle Idee</li>
            <li>ein Vogeltränke bzw. ein Vogelbad ist schnell aufgestellt, im Winter sind Vögel für Futterstellen dankbar</li>
            <li>Fledermauskästen sind auch eine gute Sache. Fledermäuse sind zwar nachtaktiv, fressen aber sehr gerne Schnacken und Stechmücken</li>
        </ul>
    </div>
    <div class="kgv-content-block">
        <h3>Tierfreundlich</h3>
        <p></p>
    </div>
{% endblock %}
