{% set forbiddenList = [
    {
        'topic': 'Laubbäume',
        'summary': 'Laubbäume wachsen sehr hoch. Diese Bäume sind für den Kleingarten zu groß, da durch ihre Grösse auch Nachbargärten unter deren Einfluss stehen (Schatten,
            Wurzeln..)',
        'reasonList' : ['Wuchshöhe über 4 Meter'],
        'plants' : ['Ahorn', 'Birke', 'Buche', '(Eber)Esche', 'Eiche', 'Erle', 'Esche', 'Ginkgo', 'Haselnuss', 'Kastanie', 'Pappel', 'Walnuss', 'Weide'],
    },
    {
        'topic': 'Nadelbäume',
        'summary': 'Nadelbäume sind aus unterschiedlichen Gründen nicht erlaubt. Manche versauern den Boden, was das Wachstum anderer Pflanzen verhindert, andere sind
            wiederum sogenannte "Flachwurzler"',
        'reasonList' : ['Wuchshöhe über 4 Meter', 'Flachwurzler. Können Wege und Gebäude durch Wurzelwuchs stark beschädigen', 'Versauerung des Bodes durch herabfallende
            Nadeln'],
        'plants' : ['Douglasie', 'Eibe','Fichten','Kiefern','Tannen','Thuja / Lebensbäume','Mammutbaum','Wacholder','Zedern', 'Zypressen'],
    },
    {
        'topic': 'Deck- und  Blütensträucher',
        'summary': 'Einige Sträucher erreichen von Natur aus auch Höhen, die für eine Kleingartenanlage nicht geeignet sind und dürfen dewegen nicht gepflanzt werden. Die
            Wurzelausläufer des sind hingegen nicht beherrschbar',
        'reasonList' : ['Wuchshöhe bis zu 6-8 Metern', 'starke Wurzelausläufer'],
        'plants' : ['Essigbaum (Rhus Typhina)','Erbsenstrauch (Caragana arborescens)', 'Goldregen (Laburnum anagyroides)', 'Hasel (Corylus barbarum)', 'Hartriegel (Cornus
            sanguinea)', 'Zierapfel/-kirschen (auch nicht als Säule)'],
    },
] %}

{% for entry in forbiddenList %}

    <h3>{{ entry.topic }}</h3>
    <dl class="row">
        <dt class="col-12 col-sm-4">Hintergrund:</dt>
        <dd class="col-12 col-sm-8">{{ entry.summary }}</dd>
        <dt class="col-12 col-sm-4">Warum darf man das nicht:</dt>
        <dd class="col-12 col-sm-8">
            {% for reason in entry.reasonList %}
                {{ reason }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </dd>
        <dt class="col-12 col-sm-4">Welche Pflanzen sind betroffen:</dt>
        <dd class="col-12 col-sm-8">
            {% for plant in entry.plants %}
                {{ plant }}{% if not loop.last %},{% endif %}
            {% endfor %}
    </dl>
{% endfor %}