{% extends 'base.html.twig' %}

{% block title %}Hello WalkThroughController!{% endblock %}

{% block body %}
    <h1>Spaziergang durch die Anlage</h1>
    <div class="container">
        coming soon... <br>
    </div>
{% endblock %}
