{% extends 'base.twig' %}

{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}

    {% if downloads %}
        <ul class="kgv-downloads">
            {% for downloadFile in downloads %}
                <li class="kgv-download-item">
                    <h4 class="kgv-download-item__name">{{ downloadFile.name }}</h4>
                    <div class="kgv-download-item__description">{{ downloadFile.description }}</div>
                    <div class="kgv-download-item__symbol"><a href="{{ path('clubDownloadFile', {id:downloadFile.id}) }}"><i class="fas fa-arrow-circle-down"></i></a></div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-warning">
            <i class="fas fa-info-circle"></i> aktuell keine Einträge vorhanden. Durch die Auflösung der Bezirksebene müssen viele Formulare neu erzeugt werden, da diese über
            den Landesverband, oder direkt über uns, also den Verein laufen werden. Schauen Sie doch in Kürze wieder vorbei.

            Hier gibt es bald zu finden: Aufnahmeantrag, Solarantrag und andere nützliche Formulare.
        </div>

        {# <div class="kgv-no-downloads"> #}
        {# <h3>ups.</h3> #}
        {# <div class="kvg-no-downloads__description"> #}
        {# Entweder ist etwas schief gelaufen oder wir laden gerade fleißig alle wichtigen PDFs und Dateien für Sie hoch. Schauen Sie doch einfach hier in Kürze nochmal #}
        {# vorbei oder schreiben Sie uns. (Hier sollten wirklich Dateien zum Download zu finden sein). #}
        {# </div> #}
        {# </div> #}
    {% endif %}


{% endblock %}
