@import '../general/variables';

.administration-news-list {

  .administration-news-entry {
    margin-bottom: 2rem;
  }
}

.kgv-admin-list-action-items {
  white-space: nowrap;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.kgv-admin-list-action-item {
  display: inline-block;
  cursor: pointer;
  color: $primary;

  &:hover {
    color: $secondary;
  }

  i {
    color: $primary;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }

  }
}