@import "definitions";

$mediaQueries: (
        'medium' : "screen and (min-width: " + $breakpoint--medium + ")",
        'large' : "screen and (min-width: " + $breakpoint--large + ")",
        'extra-large' : "screen and (min-width: " + $breakpoint--extraLarge + ")",
);

@mixin screenSize($breakpoints) {
  $conditions: ();
  @each $breakpoint in $breakpoints {

    $conditions: append(
                    $conditions,
                    #{inspect(unquote(map-get($mediaQueries, $breakpoint)))},
                    comma
    );
  }

  @media #{$conditions} {
    @content;
  }
}