$oneRemPixel: 16;

@function calc-px-from-rem($factor, $modifier:0) {
  @return #{$oneRemPixel*($factor + $modifier) + 'px'};
}

$headline-size--1: 2.5;
$headline-size--2: 2;
$headline-size--3: 1.75;
$headline-size--4: 1.5;
$headline-size--5: 1.25;
$headline-size--6: 1;

$headline-size-px--1: calc-px-from-rem($headline-size--1);
$headline-size-px--2: calc-px-from-rem($headline-size--2);
$headline-size-px--3: calc-px-from-rem($headline-size--3);
$headline-size-px--4: calc-px-from-rem($headline-size--4);
$headline-size-px--5: calc-px-from-rem($headline-size--5);
$headline-size-px--6: calc-px-from-rem($headline-size--6);