@import "./colors";

.header__teaser {
  display: flex;
  background-color: $white;
  background-image: url("../../img/header-teaser/jorg-hofmeier-XCYn3P0nVEQ-unsplash.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: left 10% bottom 20%;
  background-origin: border-box;
  background-clip: content-box;
  background-attachment: initial;
  height: 200px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header__teaser--variant1 {
  background-image: url("../../img/header-teaser/jorg-hofmeier-XCYn3P0nVEQ-unsplash.jpg");
}

.header__teaser--variant2 {
  background-image: url("../../img/header-teaser/jorg-hofmeier-wfqsRJZjXP0-unsplash.jpg");
}

.header__teaser--variant3 {
  background-image: url("../../img/header-teaser/jorg-hofmeier-dEf4GuF5jFA-unsplash.jpg");
}

.header__teaser--variant4 {
  background-image: url("../../img/header-teaser/kenan-kitchen-Bbq3H7eGids-unsplash.jpg");
}