@import './variables';

.kgv-intro {
  margin-bottom: 2rem;

  &__icon {
    float: right;
    margin-left: 30px;
    width: $h1-font-size;
    height: $h1-font-size;
    color: $brown;

    svg {
      width: $h1-font-size;
      height: $h1-font-size;
    }
  }
}