.kgv-intro {
  margin-bottom: 2rem;

  &__icon {
    float: right;
    margin-left: 30px;
    width: calc-px-from-rem($headline-size--1, 2);
    height: calc-px-from-rem($headline-size--1, 2);
    color: $brown;

    svg {
      width: calc-px-from-rem($headline-size--1, 2);
      height: calc-px-from-rem($headline-size--1, 2);
    }
  }
}