@import "variables";

ul {
  list-style: none;
}


.kgv-container-landscape {
  min-height: 100vh;
}

.kgv-bg {
  &--landscape {
    background-color: $gray-dark;
  }
}

.kgv-costs table tr th:last-child {
  text-align: right;
}

.kgv-costs table tr td:first-child {
  font-weight: bolder;
}

.kgv-costs table tr td:last-child {
  text-align: right;
}
