@import "./variables";


.kgv-corona-distance {
  &__image {
    width: 200px;
    height: auto;
  }

  @include screenSize(medium) {
    &__image {
      width: 320px;
    }
  }

  @include screenSize(large) {
    &__image {
      width: 200px;
    }
    &__image:hover {
      transform: scale(1.4);
    }
  }

  @include screenSize(landscape) {
    &__image {
      width: 250px;
    }

    &__image:hover {
      transform: scale(1.4);
    }
  }
}

.kgv-navigation-bar {
  border-right: 1px solid $gray-200;
  margin-top: 0;

  @include screenSize(medium) {
    margin-top: 40px;
  }

  @include screenSize(large) {
    margin-top: 0;
  }

  .kgv-sidebar-widget {
    &__title {
      color: $primary;
      text-decoration: underline;
    }


    &__body {

    }
  }
}

.kgv-consultation-hour {
  &__header {
    display: flex;
    align-items: center;
  }

  &__visual {
    height: 2rem;
    width: 2rem;
    margin-right: 12px;
  }
}

.navbar {
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px #999;
}