@import "../colors";
@import "../general/breakpoints-mixin";

.kgv-navigation-bar {
  //background-color: $gray-dark;
  border-right: 1px solid $primary;

  .kgv-sidebar-widget {
    &__title {
      color: $secondary;
    }

    &__body {

    }

  }

}

.navbar {
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px #999;

}


.card {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  color: $secondary;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem .25rem;
}
