
[class*="kgv-headline--"], h1, h2, h3, h4, h5, h6 {
  font-family: 'Kiwi Maru', serif;
  color: $brown;
}

.kgv-headline--1, h1 {
  font-size: $headline-size--1;
}

.kgv-headline--2, h2 {
  font-size: $headline-size--2;
}

.kgv-headline--3, h3 {
  font-size: $headline-size--3;
}

.kgv-headline--4, h4 {
  font-size: $headline-size--4;
}

.kgv-headline--5, h5 {
  font-size: $headline-size--5;
}

.kgv-headline--6, h6 {
  font-size: $headline-size--6;
}