{% extends 'base.twig' %}

{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}

    <h2>Allgemeines</h2>
    <p>hier finden Sie alle wichtigen Informationen, wenn Sie Ihren Garten aufgeben möchten</p>
    <ul class="kgv-list-styled">
        <li>bitte den Vorstand rechtzeitig informieren, wenn der Garten aufgegeben wird</li>
        <li>Die Kündigung muss schriftlich oder per E-Mail erfolgen</li>
        <li>Der Beendigung des Pachtverhältnisses endet im Regelfall zum 31. Oktober des Jahres</li>
    </ul>

    <div class="alert alert-danger">
        <i fas fa-info-circle></i> Bis zum endgültigen Wechsel ist der abgebende Pächter weiterhin voll für die ordnungsgemäße Pflege seines Gartens verantwortlich und kann dazu
        auch mit allen Konsequenzen verpflichtet werden.
    </div>


    <h2>Ablauf bei Gartenaufgabe</h2>
    <ol>
        <li>Sie kündigen das Pachtverhältnis ("den Garten") fristgerecht</li>
        <li>Wenn Sie kein passives Mitglied bleiben möchten, kündigen Sie bitte auch separat die Vereinsmitgliedschaft</li>
        <li>Wir bestätigen die Kündigung</li>
        <li>Wertermittlung
            <ul class="kgv-list-styled">
                <li>Der Garten, die enthaltenen Pflanzen, Bäume, Wege und Gebäude werden von zwei unabhängigen Wertermittlern im Wert geschätzt</li>
                <li>Die Wertermittler können ggf.Vorgaben machen, z.B.
                    <ul class="kgv-list-styled--water-can">
                        <li>welche Pflanzen, Sträucher oder Bäume entfernt oder zurückgeschnitten werden müssen</li>
                        <li>welche Gebäude entfernt oder zurückgebaut werden müssen</li>
                    </ul>

                </li>

                <li>Diese Vorgaben sind von Ihnen zwingend umzusetzen, um eine reibungslose Übergabe zu gewährleisten</li>
                <li>Der von den beiden Werteermittlern Wert ist der Preis, den der Nachpächter an Sie zahlen muss</li>
                <li>Verhandlungssache, kein Muss für den Nachpächter: Sie können mit dem Nachpächter eine weitere Ablösesumme für Dinge vereinbaren, die nicht bestandteil der
                    Werteermittlung sind (z.B.
                    Werkzeug)
                </li>
                <li>Es gibt keinen Anspruch darauf, dass der Nachpächter Ihr Werkzeug oder die Inneneinrichtung Ihrer Gartenlaube übernimmt.
                </li>
            </ul>
        </li>
        <li>Aufnahme des Nachpächters als Vereinsmitglied durch den Vorstand</li>
        <li>Der Vorstand vermittelt einen Kontakt zwischen Ihnen und dem Nachpächter</li>
        <li>Absprache mit dem Nachpächter welche optionalen Dinge er übernehmen möchte (siehe oben)</li>
        <li>Übergabetermin. Beim Übergabetermin sind Pächter, Nachpächter, sowie mind. 2 Vorstandsmitglieder anwesend
            <ul class="kgv-list-styled">
                <li>Der Übergabetermin findet in der zu übergebenden Gartenparzelle statt</li>
                <li>Prüfung durch den Vorstand ob alle Vorgaben der Werteermittlung umgesetzt wurden</li>
                <li>Unterzeichnung des neuen Pachtvertrages zwischen altem und neuem Pächter "Gartenübernahme"</li>
                <li>Nachpächter: Bezahlung der Werteermittlung bzw. Ablösesumme in Bar</li>
                <li>Nachpächter: Bezahlung der Ablösesumme für Gerätschaften u.Ä. in Bar</li>
            </ul>
        </li>
    </ol>

    <div class="alert alert-info">
        <i fas fa-info-circle></i>Ein Pächterwechsel ist erst rechtskräftig, wenn der neue Pächter per Beschluss als Vereinsmitglied aufgenommen wurde und der Pachtvertrag
        ausgefertigt ist.
    </div>

    <h2>Welche Kosten und Aufwände entstehen bei der Gartenaufgabe</h2>
    <ul class="kgv-list-styled">
        <li>50% der Wertermittlung (50% trägt der Nachpächter)</li>
        <li>Sämtliche Kosten die Ihnen entstehen um die Vorgaben der Werteermittler umzusetzen, z.B:
            <ul class="kgv-list-styled--water-can">
                <li>Kosten für die Behebung von Mängeln</li>
                <li>Kosten für die den Rückbau nicht genehmigter Gebäude oder Anbauten</li>
                <li>Kosten für die Entfernung kranker Pflanzen</li>
                <li>Kosten für die Entfernung nicht genehmigter Gehölze (z.B. Thuja, Wacholder..)</li>
            </ul>
        </li>
        {#        #}
        {#        <li>Kosten für die Abfuhr und fachgerechte Entsorgung von #}
        {#            <ul class="kgv-list-styled--water-can"> #}
        {#                <li>Gerätschaften, Werkzeugen, Innenausstattungen der Laube, soweit nicht vom Nachpächter übernommen</li> #}
        {#                <li>Chemikalien wie z.B. Gifte (Spritzmittel), Düngemittel, Farben, Lasuren, Reinigungsmittel</li> #}
        {#                <li>Schrott, Bauschutt, Müll, Verrottetes oder Verwesendes Material (alte Bretter, Hölzer, Pfähle)</li> #}
        {#            </ul> #}
        {#        </li> #}
        {#        <li>Kosten für Kultivierungsarbeiten</li> #}
        {#        <li>Begleichen aller offener Forderungen und ausstehender Zahlungen an den Kleingartenverein Oedenbeger Straße e.V, das können z.B. sein: #}
        {#            <ul class="kgv-list-styled--water-can"> #}
        {#                <li>Mitgliedsbeitrag</li> #}
        {#                <li>Umlagen</li> #}
        {#                <li>Verbrauchszahlungen (Wasser)</li> #}
        {#                <li>nicht geleistete Gemeinschaftsarbeit ("Arbeitsstunden")</li> #}
        {#                <li>Versicherungsprämien</li> #}
        {#            </ul> #}
        {#        </li> #}

    </ul>

    {#    <h2>Was wird nicht geschätzt bzw. bewertet</h2> #}
    {#    <p>Nicht geschätzte und bewertete Dinge werden auch nicht in der errechneten Ablösesumme berücksichtigt. Falls der entsprechende Gegenstand nicht entfernt werden muss, #}
    {#        können Sie ggf. mit dem Nachpächter eine Ablösesummer vereinbaren, insofern dieser Interesse an einer Übernahme hat</p> #}

    {#    <ul class="kgv-list-styled"> #}
    {#        <li>Widerrechtliche An- und Nebenbauten, sowie zweiter Baukörper</li> #}
    {#        <li>Nicht zugelassene Bäume (lt. Gartenordnung)</li> #}
    {#        <li>Kranke Gehölze mit Abzug</li> #}
    {#        <li>Abzug bei schlechter Pflege</li> #}
    {#        <li>es werden maximal 15% Rasenfläche angerechnet</li> #}
    {#        <li>Innenausstattung der Gartenlaube</li> #}
    {#        <li>Werkzeuge und Geräte</li> #}
    {#    </ul> #}

    <div class="alert alert-warning">
        <i fas fa-info-circle></i> Die Nachpächter sind nicht verpflichtet, Geräte und die Innenausstattung der Laube zu übernehmen, wenn sie diese nicht haben möchten
        (Verhandlungssache).
    </div>

{% endblock %}
