{% extends 'base-big.html.twig' %}

{% block body %}
    <div class="contain">
        <div class="row">

            <div class="col-sm-5">
                <div class="jumbotron">
                    <h1 class="display-4">Frühjahr 2021</h1>
                    <p class="lead">Wasseruhren</p>
                    <hr class="my-4">
                    <p>Mit dem Frühjahr weicht der Frost, und das Wasser kann wieder geöffnet werden. Die Termine hierfür sind
                    </p>
                    <a class="btn btn-primary btn-lg line-through disabled" href="#" role="button">Zur Anmeldung</a>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="jumbotron">
                    <h1 class="display-4">2020/2021</h1>
                    <p class="lead">Warteliste Kleingarten.</p>
                    <hr class="my-4">
                    <p>Verstärkt durch Corona haben sich viele Menschen für einen Kleingarten interessiert. Da unsere Warteliste bereits 2019 schon nicht kurz war, haben wir uns
                        entschlossen die Wartenliste eine Zeitlang zu schliessen. Wir informieren sie hier, sobald sich wieder für diese registrieren können.</p>
                    <a class="btn btn-primary btn-lg line-through disabled" href="#" role="button">Zur Anmeldung</a>
                </div>

            </div>

        </div>

    </div>
{% endblock %}