{% extends 'base.html.twig' %}
{% block body %}
    <h1>Der Vorstand</h1>
    <div class="container">
        <h3>Vorstandschaft + Kontaktdaten</h3>

        <ul>
            {% for executive in executives %}
                <li>
                    <ul>
                        <li><h3>{{ executive.position }}</h3></li>
                        <li>{{ executive.name }}</li>
                        {% if executive.phone %}
                            <li>{{ executive.phone }}</li>
                        {% endif %}

                        {% if executive.email %}
                            <li>{{ executive.email }}</li>
                        {% endif %}


                    </ul>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
