<a class="dropdown-item" href="{{ path('administrationNews') }}">Neuigkeiten</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="{{ path('administrationExecutive') }}">Vorstände</a>
<a class="dropdown-item" href="{{ path('administrationDownloads') }}">Downloads</a>


