{% extends 'base.html.twig' %}

{% block title %}Hello GardenDesignController!{% endblock %}

{% block body %}
    <h1>Unsere Gärten</h1>
    <p>Jeder Gartenbesitzer kann seinen Garten nach eigenem Wunsch und nach den Richtlinien des <a href="http://www.gesetze-im-internet.de/bkleingg/BJNR002100983.html"
                                                                                                   target="new"></a>Bundeskleingartengesetzes gestalten und bewirtschaften.</p>

{% endblock %}
