<form method="post" action="{{ path('download_file_delete', {'id': download_file.id}) }}" onsubmit="return confirm('Soll diese Datei entgültig gelöscht werden?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ download_file.id) }}">
    <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
</form>
