{% extends 'base-administration.html.twig' %}

{% block title %}New DownloadFile{% endblock %}

{% block body %}
    <h1>Create new DownloadFile</h1>

    {{ include('administration/download_file/_form.html.twig') }}

    <a href="{{ path('download_file_index') }}">back to list</a>
{% endblock %}
