{% extends 'base.twig' %}

{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}



    <h3>2020</h3>
    <p>Im Zuge des Jubiläums "100 Jahre Schrebergärten in Nürnberg" wirkt unser erster Vorstand Heike Ulrich an der Reportage "Laube, Liebe, Leidenschaft - 100 Jahre
        Schrebergärten in Nürnberg" mit. </p>
    <div>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/1c70rdpaKts"
                frameborder="0" allow="accelerometer; autoplay;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <h3>2006</h3>
    <p>2006 beim Bundeswettbewerb bekamen wir eine Bronzeplakette. Nach vielen Jahren wurden wieder Gartenfeste gefeiert und Vereinsausflüge veranstaltet.Höhepunkt war 2009 die
        90jahrfeier unserer Anlage. Es wurde eine Vereinshomepage erstellt. Um bei Veranstaltungen eine Powerpoint-Präsentation zu ermöglichen wurde ein Beamer angeschafft.</p>
    <h3>2005</h3>
    <p>Unter dem Vorstand Horst Colombier hat unsere Anlage 2005 am Landeswettbewerb mit einer Auszeichnung in Gold teilgenommen.</p>
    <h3>80er</h3>
    <p>Unter dem Vorstand Hermann Preiß bekamen die Gärten Nr. 60 - 165 eine neue Wasserleitung. In den Wegen wurden neue wartungsfreie Informationschaukästen aufgestellt. Dank der
        guten
        Kantinenbewirtschaftung konnten die Bauschulden bei der Brauerei zügig zurückbezahlt werden. Anschließend konnte der jährliche Vereinsbeitrag von 36 DM auf 6DM gesenkt
        werden. Die
        Rabatten vor den Gärten wurden neu bepflanzt. Nachdem die Rosen oft an Sternrußtau erkrankten und bei Platzregen das Erdreich abgeschwemmt wurde, sind die Beete mit Stauden
        bepflanzt worden. Jeder Weg in einem anderen Farbton. Die Pflanzung wurde von der Landschaftsarchitektin Christine Orel geplant.</p>
    <h3>70er Jahre</h3>
    <p>In den 70er Jahren wurden die ehemaligen Kolonien 14, 19 und 23 zusammengeschlossen, es wurde der "Kleingartenverein Oedenberger Str. e. V." gegründet. Von den Kleingärtnern
        wurde
        ein <em>Spielplatz</em> gebaut, dort befindet sich auch ein Gerätehaus des Vereins.</p>
    <h3>60er Jahre</h3>
    <p>Anfang 1960 wurde in der Anlage das „Haus der Kleingärtner“ gebaut, die Geschäftsstelle des Stadtverbandes Nürnberg.</p>
    <h3>50er Jahre</h3>
    <p>In den 50er Jahren wurden solche Anlagen zu begehrten Bauland. Dem Einsatz des damaligen Vorstandes Karl Streibl und dem Weitblick des Stadtrates unter Oberbürgermeister Dr.
        Andreas Urschlechter ist es zu verdanken, das hier eine gesicherte Dauerkleingartenanlage entstanden ist.</p>
    <h3>Gründung</h3>
    <p>Die schön im Nordosten der Stadt gelegene Anlage wurde im Jahr 1919 gegründet. Die 165 Gärten mit einer durchschnittlichen Größe von 300 qm sind bei Familien mit Kindern
        ebenso beliebt wie bei älteren Mitgliedern.</p>


{% endblock %}
