{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}

    <div class="kgv-markdown">
        {{ include('club/history/history.md')|markdown_to_html }}
    </div>

{% endblock %}
