{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}

    <div class="kgv-markdown">
        {{ include('garden_area/commandments/10commandments.md')|markdown_to_html }}
    </div>

{% endblock %}
