$brown: #57390F;
$brown-d: darken($brown, 10%);
$brown-dd: darken($brown, 20%);
$brown-ddd: darken($brown, 30%);

$brown-l: lighten($brown, 10%);
$brown-ll: lighten($brown, 10%);
$brown-lll: lighten($brown, 10%);


$green: #A4C471;
$green-d: darken($green, 10%);
$green-dd: darken($green, 20%);
$green-ddd: darken($green, 30%);

$green-l: lighten($green, 10%);
$green-ll: lighten($green, 10%);
$green-lll: lighten($green, 10%);


$black: #1C2122;
$black-d: darken($black, 10%);
$black-dd: darken($black, 20%);
$black-ddd: darken($black, 30%);

$black-l: lighten($black, 10%);
$black-ll: lighten($black, 10%);
$black-lll: lighten($black, 10%);

$white: #ffffff;
