<div class="alert alert-warning">
    <i class="fas fa-info-circle"></i> In dringenden Fällen wie z.B. bei Wasserschäden, Rohrbruch oder Ähnlichem können Sie den Vorstand unter 0157 - 322 890 49 erreichen.
</div>