{% extends 'base.twig' %}
{% block body %}
    <h1>Kontakt</h1>
    <div class="container-fluid">

        <p>
            Hier können Sie der Vorstandschaft eine Nachricht zukommen lassen, wenn Sie Fragen oder Anregungen für uns haben.
            <br><br>
            Da wir ehrenamtlich arbeiten, kann die Beantwortung manchmal ein paar Tage in Anspruch nehmen. Wir sind aber immer bemüht uns
            schnellst möglichst um die Bearbeitung Ihres Anliegens zu kümmern.

            {% include 'contact/emergency.twig' %}

            <br><br>
            Schreiben Sie uns gerne eine E-Mail an kgv@oedenberger.de - wir beantworten Ihre Fragen gerne.

{#            {{ form_start(form) }}#}
{#            {{ form_widget(form) }}#}
{#            <button class="btn btn-primary">{{ button_label|default('senden') }}</button>#}
{#            {{ form_end(form) }}#}
{#        <p>#}
{#            <br>#}
{#            (Felder mit <span class="formRequired"></span> müssen ausgefüllt werden.)#}
        </p>

    </div>
{% endblock %}
