{% extends 'base.html.twig' %}
{% block body %}
    <h1>Kontakt</h1>
    <div class="container-fluid">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('speichern') }}</button>
        {{ form_end(form) }}


        {# <form action=""> #}
        {# <textarea name="" cols="30" rows="10"></textarea> #}

        {# <button>Senden</button> #}
        {# </form> #}
    </div>
{% endblock %}
