<div class="alert alert-info">
    <h3>Warteliste vorübergehend geschlossen</h3>
    <h4>Stand: Frühjahr / Sommer 2025</h4>
    <i class="fas fa-info-circle"></i> Bitte beachten Sie, dass unsere Warteliste derzeit geschlossen ist. Bitte besuchen Sie diese Seite wieder, um zu erfahren, wann eine Anmeldung wieder möglich ist.
</div>
