{% extends 'base.twig' %}

{% block title %}Hello GardenRulesController!{% endblock %}

{% block body %}

    {% include 'layout/partials/kgv-intro.twig' %}

    <div class="kgv-markdown">
        {{ include('club/garden_rules/garden-rules.md')|markdown_to_html }}
    </div>

{% endblock %}
