{% extends 'base.html.twig' %}

{% block title %}Hello GardenRulesController!{% endblock %}

{% block body %}
    <div class="disclaimer">
        Die hier abgebildete Garten Ordnung ist eine Abschrift des Stadtverbandes der Kleing채rten in N체rnberg e.V. Bitte beachten Sie, dass immer nur die aktuelle Ordnung
        verbindlich ist. <a href="">Die aktuelle Garten Ordnung ist hier, auf der Seite des Stadtvebandes zu finden.</a> Wir sind stets bem체ht die Version auf dieser Seite f체r
        Sie
                            aktuell zu
        halten.
    </div>


    <div class="container">
        {{ include('club/garden_rules/garden-rules.md')|markdown_to_html }}
    </div>
{% endblock %}
