{% extends 'base.twig' %}

{% block body %}

    {% include 'layout/partials/kgv-intro.twig' %}


    <div class="jumbotron">
        <h1 class="display-4">Warteliste Kleingarten.</h1>
        <p class="lead">2020/2021</p>
        <hr class="my-4">
        <div class="alert alert-danger">
            <i class="fas fa-info-circle"></i>Warteliste vorübergehend geschlossen!
        </div>

        <p>Liebe zukünftige Kleingärtner,</p>
        <p>Verstärkt durch Corona haben sich viele Menschen für einen Kleingarten interessiert. <br>
            Da unsere Warteliste bereits 2019
            schon
            recht lange war, haben wir uns
            entschlossen die Warteliste eine Zeitlang zu schließen.

            Wir informieren Sie hier, sobald es es freie Plätze auf der Warteliste gibt.</p>
        <p>


            Danke für Euer Verständnis. <br>Der Vorstand.</p>
    </div>
{% endblock %}
