{% extends 'base.twig' %}

{% block body %}

    {% include 'layout/partials/kgv-intro.twig' %}

    <p></p>
    {% include 'contact/waitinglist-closed.twig' %}

    <div class="jumbotron">
        <h1 class="display-4">Sie haben Interesse?</h1>
        <hr class="my-4">
        <p>Schreiben Sie uns dafür am besten eine kurze E-Mail unter Angabe Ihres Namens und Telefonnummer. Sie können dafür unser <a
                    href="{{ path('contact') }}">Kontaktformular</a> verwenden, alternativ können Sie uns auch gerne anrufen.
        </p>
    </div>
{% endblock %}
