{% extends 'base-administration.twig' %}

{% block title %}Neue Vorstandsposition{% endblock %}

{% block body %}
    <h3>Neue Vorstandsposition anlegen</h3>

    <div>Bitte beachten: Wenn sich eine Position geändert hat, bitte mit der Bearbeiten Funktion arbeiten!</div>

    {{ include('administration/executive/_form.twig') }}

    <a href="{{ path('administrationExecutive') }}">zurück zur Übersicht</a>
{% endblock %}
