<!doctype html>
<html lang="de">
<head>{% include 'layout/head.twig' %}</head>
<body>
{% include 'layout/navigation.twig' %}
<main>
    {% include 'layout/top.twig' %}
    <section class="container">
        {% include 'layout/flashMessages.twig' %}

        <div class="row">
            <!-- navigation start -->
            <div class="col-12 col-lg-3 kgv-navigation-bar">
                {% include 'layout/sidebar.twig' %}
            </div>
            <!-- navigation end -->
            <!-- main content start -->
            <div class="col-sm-12 col-md-12 col-lg-9  {{ pageIdentifierClasses }}">
                {% block body %}{% endblock %}
            </div>
            <!-- main content end -->

        </div>
    </section>
</main>
{% include 'layout/footer.twig' %}
</body>
</html>