<!doctype html>
<html lang="de">
<head>{% include 'layout/head.html.twig' %}</head>
<body>
{% include 'layout/navigation.html.twig' %}
<main>
    {% include 'layout/top.html.twig' %}
    <section class="container">
        {% include 'layout/flashMessages.twig' %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">{% block body %}{% endblock %}</div>
            <div class="col-12 col-lg-3">
                <div class="card mb-4">
                    <h5 class="card-header">Admin Menu</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="{{ path('administrationNews') }}">Ankündigungen</a></li>
                            <li><a href="{{ path('administrationExecutive') }}">Vorstände</a></li>
                        </ul>

                        <div class="mt-5">
                            <a class="btn btn-primary" href="{{ path('administration_news_new') }}">Ankündigung erstellen</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'layout/footer.html.twig' %}
</body>
</html>
