<!doctype html>
<html lang="de">
<head>{% include 'base/head.html.twig' %}</head>
<body>
{% include 'layout/navigation.html.twig' %}
<main class="{{ pageIdentifierClasses }}">
    {% block body %}{% endblock %}
</main>
{% include 'layout/footer.html.twig' %}
</body>
</html>
