<!doctype html>
<html lang="de">
<head>{% include 'layout/head.twig' %}</head>
<body>
{% include 'layout/navigation.twig' %}
<main>
    {% include 'layout/top.twig' %}
    {% if pageIdentifierClasses is not defined %}
        {% set pageIdentifierClasses = 'kgv-content-default' %}
    {% endif %}
    <div class="container {{ pageIdentifierClasses }}">
        {% include 'layout/flashMessages.twig' %}

        {% block body %}{% endblock %}
    </div>

</main>
{% include 'layout/footer.twig' %}
</body>
</html>
