<!doctype html>
<html lang="de">
<head>{% include 'layout/head.twig' %}</head>
<body class="kgv-bg--landscape">
{% include 'layout/navigation.twig' %}
<main class="{{ pageIdentifierClasses }}">
    {% block body %}{% endblock %}
</main>
{% include 'layout/footer.twig' %}
</body>
</html>
