<div class="kgv-sidebar-widget mb-4  {{ additionalClass is defined ? additionalClass }}">
    <h4 class="kgv-headline--5 kgv-sidebar-widget__title ">
        {% block widgetTitle %}
            {% if widgetTitle %}
                {{ widgetTitle }}
            {% endif %}
        {% endblock %}
    </h4>
    <div class="kgv-sidebar-widget__body">
        {% block widgetContent %}{% endblock %}
    </div>
</div>