<div class="card mb-4">
    <h5 class="card-header">{% block widgetTitle %}
            {% if widgetTitle %}
                {{ widgetTitle }}
            {% endif %}
        {% endblock %}</h5>
    <div class="card-body">
        {% block widgetContent %}{% endblock %}
    </div>
</div>