{% extends 'base.twig' %}

{% block title %}Hello PlaygroundController!{% endblock %}

{% block body %}
    {% include 'layout/partials/kgv-intro.twig' %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/build/img/galleries/playground/a.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/b.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/c.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/d.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/f.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/h.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/k.png" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/build/img/galleries/playground/l.png" alt="">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Zurück</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Weiter</span>
        </a>
    </div>
{% endblock %}
