{% extends 'base.html.twig' %}

{% block title %}Hello RulesController!{% endblock %}

{% block body %}
    <div class="container">
        {{ include('club/rules/rules.md')|markdown_to_html }}
    </div>
{% endblock %}
