{% extends 'base.twig' %}

{% block body %}

    {% include 'layout/partials/kgv-intro.twig' %}

    <div class="kgv-markdown">
        {{ include('club/rules/rules.md')|markdown_to_html }}
    </div>

{% endblock %}
