{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-primary btn-lg line-through disabled">neue Neuigkeit anlegen</button>
    {% endif %}

    <div class="container">news page</div>

    {% for news in newsList %}

        <div class="jumbotron">
            <h1 class="display-6">{{ news.title }}</h1>
            <p class="lead">{{ news.timeCreated|format_date() }}</p>
            <hr class="my-4">
            <p>{{ news.description|raw }}</p>
        </div>

    {% endfor %}

    <div>
        {{ form(newsForm) }}
    </div>

{% endblock %}
