{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-primary btn-lg line-through disabled">neue Neuigkeit anlegen</button>
    {% endif %}


    <div class="container">news page</div>

    <div>
        {{ form(newsForm) }}
    </div>


{% endblock %}
