    <div class="jumbotron kgv-news-entity">
        <h2 class="display-6 kgv-headline--2">{{ news.title }}</h2>
        <p class="lead kgv-news-entity__published">{{ news.timePublish|format_date( 'full', locale='de') }}</p>
        <hr class="my-4">
        <p>{{ news.description|raw }}</p>
    </div>