{% extends 'base.html.twig' %}
{% block body %}

    <h1>Übersichtskarte</h1>
    <div class="container-fluid" style="min-width: 500px;">

        <img src="{{ asset('build/img/map/map-refined-v1.svg') }}" alt="Übersichtskarte" width="100%">
    </div>
{% endblock %}
