@import "./newsEnitity";
@import "../general/colors";

.kgv-news-entity {

  box-shadow: 0 8px 6px -6px #999;
  border: 2px solid $secondary;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  &__text {

    color: pink;

    &--important {
      color: $red;
    }
  }

  &__published {
    text-align: right;
  }

  &__highlight, .news-content-box {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 1rem;
    color: #fff;
    background-color: #606c38;
    border: 1px solid #283618;
  }

  .kgv-headline--2 {
    font-weight: 600;
  }
}

.kgv-news-entity:last-child {
  margin-bottom: 5rem;
}