{% if breadCrumbs is defined %}
    <div class="breadcrumb-container-outer">
        <div class="container">
            {% import 'macros/breadcrumb.twig' as breadcrumbs %}
            {{ breadcrumbs.render(breadCrumbs) }}
        </div>
    </div>
{% endif %}