{% if breadCrumbs is defined %}
    <div class="breadcrumb-container-outer sticky-top">
        <div class="container">
            {% import 'macros/breadcrumb.html.twig' as breadcrumbs %}
            {{ breadcrumbs.render(breadCrumbs) }}
        </div>
    </div>
{% endif %}