{% for message in app.flashes('success') %}
    <div class="row">
        <div class="col">
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}