<footer>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                Über uns
                <ul>
                    <li>Aktuelles / News</li>
                    <li>Geschichte</li>
                    <li>Vorstand</li>
                </ul>
            </div>
            <div class="col-md-auto">
                Die Anlage
                <ul>
                    <li>Übersichtsplan</li>
                    <li>Spielplatz</li>
                    <li>Anfahrt</li>
                    <li>Spaziergang durch die Anlage</li>
                </ul>
            </div>
            <div class="col-md-auto">
                Essentials
                <ul>
                    <li>Kontakt</li>
                    <li>Impressum</li>
                </ul>
            </div>
        </div>
    </div>
</footer>