<footer class="footer bg-dark text-white mt-5">
    <div class="container pt-3">
        <div class="row">
            {% include 'layout/footer/footerBlock.twig' with {iconName: 'plant-pot', urlList:urlList.getClub.iterate, blockName:'Verein'} %}
            {% include 'layout/footer/footerBlock.twig' with {iconName: 'plant-pot', urlList:urlList.getGarden.iterate, blockName:'Gärten'} %}
            {% include 'layout/footer/footerBlock.twig' with {iconName: 'plant-pot', urlList:urlList.getArea.iterate, blockName:'Die Anlage'} %}
            {% include 'layout/footer/footerBlock.twig' with {iconName: 'plant-pot', urlList:urlList.getEssentials.iterate, blockName:'Essentials'} %}
        </div>
    </div>
    <div class="container pt-5">
        <p class="small text-right">Made with <span class="footer__heart">❤</span> by saparot.io, © 2021</p>
    </div>
</footer>