<div class="container">
    <div class="row">
        <div class="col">{% include 'layout/navigation.html.twig' %}</div>
    </div>
    <div class="row">
        <div>{% include 'layout/content-default.html.twig' %}</div>
    </div>
    <div class="row">
        <div>{% include 'layout/footer.html.twig' %}</div>
    </div>
</div>