<div class="row">

    <div class="col-12 col-md-6 col-lg-12">
        {% include 'widget/widget.category.links.html.twig' %}
    </div>


    <div class="col-12 col-md-6 col-lg-12">
        {% include 'widget/widget.weather.html.twig' %}
    </div>

    <div class="col-12 col-md-6 col-lg-12">
        {% include 'widget/widget.corona.twig' %}
    </div>

    <div class="col-12 col-md-6 col-lg-12">
        placehoder: tips
    </div>

    <div class="col-12 col-md-6 col-lg-12">
        placehoder: noris inclusions
        https://www.noris-inklusion.de/gartenbau
        logo abfragen
    </div>

</div>
