<div class="row">
    <div class="col-12 col-md-6 col-lg-12 d-none d-sm-block">
        {% include 'widget/widget.category.links.twig' %}
    </div>

    <div class="col-12 col-md-6 col-lg-12 d-none d-sm-block">
        {% include 'widget/widget.consultationHour.twig' %}
    </div>


    <div class="col-12 col-md-6 col-lg-12 d-none d-sm-block">
        {% include 'widget/widget.weather.twig' %}
    </div>
</div>
