{% extends 'widget.base.twig' %}

{% block widgetTitle %}
    Navigation
{% endblock %}

{% block widgetContent %}
    {% if sidebarUrlList %}
        <div class="category-navigation">
            {% for url in sidebarUrlList.iterate %}
                {% if not url.isSeparator %}
                    <a class="p-2 category-navigation__element {% if url.isActive %}category-navigation__element--active{% endif %}" href="{{ url.getUrl }}">
                        <div class="category-navigation__text">{{ url.getNameDisplay }}</div>
                        {% if  url.isActive %}
                            <div class="category-navigation__symbol-container">{% include 'layout/icons/garden.twig' with {iconName: 'tree-colored', additionalIconClass:
                                    'category-navigation__symbol'} %}</div>
                        {% endif %}

                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
