{% extends 'widget.base.html.twig' %}

{% block widgetTitle %}
    Kleingarten Wetter
{% endblock %}

{% block widgetContent %}
    <div id="wcom-921133705030dcf7e13ff512358563d7" style="border: 0px none; background-color: transparent; border-radius: 0px; color: rgb(0, 0, 0);" class="wcom-default w150x150">
        <link rel="stylesheet" href="//cs3.wettercomassets.com/woys/5/css/w.css" media="all">
        <div class="wcom-city"><a style="color: #000" href="https://www.wetter.comdeutschland/nuernberg/schoppershof/DE0007131150.html" target="_blank" rel="nofollow"
                                  aria-label="Wetter Berlin" title="Wetter Schoppershof">Wetter Schoppershof</a></div>
        <div id="wcom-921133705030dcf7e13ff512358563d7-weather"></div>
        <script type="text/javascript" src="//cs3.wettercomassets.com/woys/5/js/w.js"></script>
        <script type="text/javascript">_wcomWidget({id: 'wcom-921133705030dcf7e13ff512358563d7', location: 'DE0007131150', format: '150x150', type: 'summary'});</script>
    </div>
{% endblock %}