{% extends 'widget.base.html.twig' %}

{% block widgetTitle %}
    Navigation
{% endblock %}

{% block widgetContent %}
    {% if sidebarUrlList %}
        <ul class="list-unstyled">
            {% for url in sidebarUrlList.iterate %}
                {% if not url.isSeparator %}
                    <li class="p-2"><a class="{% if  url.isActive %} active{% endif %}" href="{{ url.getUrl }}">{% if  url.isActive %} ⇛{% endif %}{{ url.getNameDisplay
                            }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


