{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Impressum</h1>
        <div>
            <p>
                Kleingartenverein Oedenberger Strasse<br>
                Oedenberger Str. 114<br>
                90491 Nürnberg<br>
                <br>
                Telefon: +49 157 322 890 49<br>
                E-Mail: info@kleingartenverein-oedenberger-strasse.de<br>
                Internet: www.kleingartenverein-oedenberger-strasse.de<br>
                Vertretungsberechtiger Vorstand:<br>
            </p>
            <ul>
                <li>Heike Ulrich (1. Vorsitzende),</li>
                <li>Frank Richter (Kassier),</li>
                <li>Vera Krause (Schriftführerin)</li>
            </ul>
            <p>
                Registergericht: Amtsgericht Nürnberg<br>
                Registernummer VR 1235<br>
            </p>
        </div>
    </div>

{% endblock %}